<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <style>
        .border {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <header class="border">Cabaçalho &nbsp; &#160;</header>
    <nav class="border">Barra de Navegação</nav>
    <div class="border">
        <main class="border">
            <section class="border">Seção 1</section>
            <section class="border">Seção 2</section>
        </main class="border">
        <aside class="border">Barra lateral</aside>
    </div>
    <footer class="border">Rodapé</footer>
</body>
</html>